.t1{
    background-color: #58849fa5;
}
.t2{
    background-color: #f89823;
    font-size: large;
    border: 2px solid black;
    margin: 20 px;
    padding:20px ;
    margin-top: 25px;
}
.t3{
    background-color: #f89823b5;
    font-size: large;
    border: 2px solid black;
    margin: 20 px;
    padding:20px ;
    margin-top: 25px;
}